<%- partial('_partial/head') %>
<body>
  <%- partial('_partial/appbar') %>
  <div class="l_body">
    <div class='container clearfix'>
      <div class='l_main'>
        <%- body %>
      </div>
    </div>
    <%- partial('_partial/footer') %>
  </div>
  <script src="/code.js"></script>
</body>
</html>
