<section class='m_widget busuanzi'>
<div class='header'>访问统计</div>
<div class='content'>
    <ul class="entry">
        <li>本站总访问量 <span id="busuanzi_site_pv" style="font-weight: bold;">加载中...</span> 次</li>
        <li>本站总访客数 <span id="busuanzi_site_uv" style="font-weight: bold;">加载中...</span> 人</li>
        <li>本页总阅读量 <span id="busuanzi_page_pv" style="font-weight: bold;">加载中...</span> 次</li>
    </ul>
</div>
</section>