<mdui-divider></mdui-divider>
<footer>
    <p>&copy; <%= config.year %> <%= config.author %>. All rights reserved.</p><br>
    Powered by <a href="https://hexo.io/">Hexo</a>.Theme <a href="https://github.com/oldhelps/ekinosoba">Ekinosoba</a>by
    <a href="https://oldhelps.eu.org">oldhelps</a>.
</footer>